/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 1rem;
    background-color: #e6eff6;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */

main {
    padding: 1rem;
    gap: 1.5rem;
}

header,
section.price,
section.why {
    padding: 1rem;
}

header {
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.price {
    background-color: hsl(179, 62%, 43%);
}

.why {
    background-color: hsl(179, 62%, 50%);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


/* ---- Page Elements ---- */

h1 {
    color: hsl(179, 62%, 43%);
}

h1,
h2.heading,
h2.price,
h2.foot {
    margin-bottom: 1rem;
}

h2.heading {
    color: hsl(71, 73%, 54%);
}

h2,
p {
    color: hsl(204, 43%, 93%);
}

p.heading {
    color: hsl(218, 22%, 67%);
}

p.heading {
    margin-bottom: 1.5rem;
}

.lighttxt,
.num {
    display: inline;
}

.attribution {
    color: hsl(218, 22%, 67%);
}

button {
    width: 100%;
    margin-top: 1.6rem;
    height: 2.5rem;
    border-radius: 7px;
    background-color: color: hsl(71, 73%, 54%);
    color: #f4ffff;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    main {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    header.\.grid-col-span-2 {
        grid-column: span 3;
    }
}